*{margin:0;padding:0;}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul,ol{list-style: none}
a{text-decoration: none}

/**layout***/
body{
    font-size: 12px;
    line-height:1.5;
}


.page{
    display: flex;
    height:600px;
    width:950px;
    margin:0 auto;
    border:1px solid black;
}

.page>aside{
    min-width:30%;
    display: flex;
    flex-direction: column;


}

.page > main{
    flex-grow: 1;
    padding-left:20px;
    background:#ddd;
}


/**aside***/

.newSong{
    text-align: center;
    padding:12px;
    border-bottom:1px solid #ddd;
}

.newSong.active{
    background:#ddd;
}
.songlist-contrainer{
    flex-grow:1;
    
    overflow-y:scroll;
}

.songList > li {
    border-bottom: 1px solid #ddd;
    padding:10px;
}

.songList > li.active{
    background:#ddd;
    
}

.page>aside>.draggable{
    width:100%;
    height:100px;
    border:2px dashed black;
    display: flex;
    cursor: pointer;
    text-align: center;


    
}

.page>aside>.draggable>.clickable{
    width:100%;
    height:100%;
    padding:10px 20px;
    top:20%;
}


/**main***/

form {
    border:1px solid red;
}

form .row{
    margin:10px;
}


form .row input[type="text"]{
    font-size:13px;
    border-radius: 4px;
    background: white;
    border:1px solid #ddd;
}

form .row button[type="submit"]{
    font-size:13px;
    padding:0 5px;
    background: white;
    border:1px solid #ddd;
    border-radius: 4px;
    margin-left:27px;
}
