*{margin:0;padding:0;box-sizing:border-box;}
*::before,*::after{box-sizing:border-box}
a{
    text-decoration: none;
    outline: none;
    color: black;

}
ol,li{list-style: none;}

body{
    font-size:3.7vw;
    overflow-x:hidden;
}

input,button,select,textarea{outline:none}

.topBar{background:#D43C33;padding:4.3vw 2.5vw;display: flex;align-items: center;justify-content: space-between;
}

.topBar .logo{ background:#D43C33;width:38vw;}

.topBar .downloadAPP{
    font-size:3.7vw;
    line-height:7.5vm;
    border:1px solid white;
    border-radius:4.25vw;
    display: block;
    color:white;
    padding:0.4em 0.8em;
}

.siteNav>ol{
    display: flex;
    text-align: center;
    border-bottom:1px solid rgb(237,237,237);
    font-size:1.1em;
    line-height: 11vw;
}
.siteNav>ol>li{
    flex-grow: 1;
}

.siteNav>ol>li.active{
    color:#D43C33;
}

.siteNav>ol>li>span{
    display: inline-block;
    line-height:11vw;
    position: relative;
}

.siteNav>ol>li.active>span::after{
    content:'';
    display:block;
    position: absolute;
    bottom:0.1px;
    border-bottom:2px solid rgb(212,60,51);
    width:120%;
    left:-10%;
}

.page-3.active{
    display:block;
}
.page-3{
    display:none;
}
.page-1.active{
    display:block;
}
.page-1{
    display:none;
}

.page-2.active{
    display:block;
}
.page-2{
    display:none;
}
/****以下为page1的样式*****/

.swiper-container {
    width: 100vw;
    height: 45.8vw;
}

.swiper-container img{
    width: 100vw;
    height: 45.8vw;
}

section.playLists>h2{
    font-size:1.2em;
    margin:5vw 0;
    font-weight:normal;
    padding-left:0.4em;
    display: inline-block;
    border-left:2px solid red;
    line-height:1em;
}

section.playLists ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


section.playLists ul li{
    height:48vw;
    width:32.7vw;
}
section.playLists li img{
    height:32.7vw;
    width:32.7vw;
}

section.playLists li p{
    font-size:0.94em;
    padding:1vw 1vw;
/* 显示两 隐藏第三行**/
    display: -webkit-box;
    line-height: 1.3em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
}

section.lastestMusic>h2{
    font-size:1.2em;
    margin:5vw 0;
    font-weight:normal;
    padding-left:0.4em;
    display: inline-block;
    border-left:2px solid red;
    line-height:1em;
}
section.lastestMusic>.loading{
    height:10vw;
    text-align: center;
}
section.lastestMusic>ol>li{
    padding-top:0.3em;
    border-bottom:1px solid #E2E2E3;
    padding-left:0.7em;
    padding-bottom: 0.3em;
    position: relative;

}

section.lastestMusic>ol>li h3{
    font-size:1.2em;
    font-weight:normal;
    margin-top: 1.2vw;

}

section.lastestMusic>ol>li .sq{
    background:url('../img/SQ.png');
    background-size:12em 6em;
    height:0.8em;
    width:1.2em;
    overflow: hidden;
    margin:0.5em 0;

}
section.lastestMusic>ol>li p{
    font-size:0.92em;
    color:#888;
    margin:0.8vw 0;
    position: absolute;
    bottom:0.6em;
    left:2em;
    

}
section.lastestMusic>ol>li a{
    position: absolute;
    bottom:0vw;
    width:100vw;
    height:15vw;
    left:0;
}

section.lastestMusic>ol>li .icon{
    width:2em;
    height:2em;
    fill:#888;
    position: relative;
    left:90vw;
    bottom: -3vw;
}


section.art{
    background:url('../img/bg.png') no-repeat center 0;
    padding-top:15.6vw;
    padding-bottom: 8vw;
}

section.art .logo{
    text-align: center;


}
section.art .logo .logosvg{
    width:61.7vw

}

section.art .openAPP{
    border:1px solid #D43C33;
    display: block;
    text-align: center;
    max-width:81.3vw;
    padding:3vw 0;
    color:#D43C33;
    border-radius:6vw;
    margin:2vw auto;
    font-size:1.2em;
}

section.art .copyright{
    font-size:3.2vw;
    transform: scale(0.75);
    text-align: center;
    color:#888;
}

/****以上为page1的样式*****/



/****以下为page2的样式*****/
#tab-page>.page-2>.background{
    position: relative;
}
#tab-page>.page-2>.background img{
    width:100vw;
    height:40vw;
    position: relative;
    bottom:0.1vw;
}
#tab-page>.page-2>.background .textBackground-wrapper{
    width:45vw;
    height:20vw;
    position: absolute;
    top:8vw;
    left:4vw;
    overflow: hidden;
}
#tab-page>.page-2>.background .textBackground{
    position: absolute;
    background:url("../img/SQ.png") no-repeat;
    background-size:166px 97px;
    top:-7vw;
    width:50vw;
    height:40vw;
    left:-3vw;
}
#page-2 .hotMusicList>ol>li{
    position: relative;
    display: flex;
    align-items: flex-start;
}
#page-2 .hotMusicList>ol>li .songNumber{
    display: flex;
    width:10vw;
    height:15vw;
    color:#888;
    font-size:16px;
    justify-content: center;
    align-items: center;
}

#page-2 .hotMusicList>ol>li .songNumber.active{
    color:rgb(223,83,118);
}

#page-2 .hotMusicList>ol>li .songContent{
    display: inline-block;
    width:90vw;
    position: relative;
}

#page-2 .hotMusicList>ol>li h3{
    font-size:1.2em;
    font-weight:normal;
    margin-top: 2.2vw;
    position: relative;

}

#page-2 .hotMusicList>ol>li p{
    display: inline-block;
    position: absolute;
    font-size:13px;
    color:#888;
    left:5vw;
    bottom:2vw;
}

#page-2 .hotMusicList>ol>li .sq{
    background:url('../img/SQ.png');
    background-size:12em 6em;
    height:0.8em;
    width:1.2em;
    overflow: hidden;
    margin:0.5em 0;

}

#page-2 .hotMusicList>ol>li .icon{
    width:2em;
    height:2em;
    fill:#888;
    position: relative;
    left:80vw;
    bottom: -4vw;
}

#page-2 .hotMusicList>ol>li a{
    position: absolute;
    bottom:0vw;
    width:100vw;
    height:15vw;
    left:0;
    top:0;
}

#page-2 .hotMusicList>ol>li a::after{
    content:'';
    display: block;
    position: absolute;
    border-bottom:1px solid rgb(237,237,237);
    width:100vw;
    left:0;
    top:15vw;
}


#tab-page>.page-2 .watchFullSongList{
    font-size:15px;
    padding:5vw 0;
    text-align: center;
}

#tab-page>.page-2 .watchFullSongList>a{
    color:#888;
}
/****以上为page2的样式*****/




/****以下为page3的样式*****/

#tab-page>.page-3>.searchContainer{
    position: relative;
    width:100vw;
    height:17vw;
    border-bottom: 1px solid rgb(237,237,237);
}

#tab-page>.page-3>.searchContainer>.searchIcon{
    width:3.5vw;
    height:3.5vw;
    position: absolute;
    left:6vw;
    top:7vw;
    z-index: 1;
}
#tab-page>.page-3 input{
    width:94vw;
    height:8vw;
    border-radius:4vw;
    font-size:14px;
    padding:4.3vw 8vw;
    background:rgb(235,235,235);
    border:none;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin:4.5vw 0; 
}

#tab-page>.page-3 .deleteIcon{
    width:3.2vw;
    height:3.2vw;
    position: absolute;
    right:6vw;
    top:7vw;
    z-index: 1;
    display: none;
}

#tab-page>.page-3 .deleteIcon.active{
    display: block;
}


::-webkit-input-placeholder{
    color:#c9c9c9;
}
input::-webkit-search-cancel-button {display: none;}
#tab-page>.page-3 .hotSearch{
    position: relative;
}
#tab-page>.page-3 .hotSearch>p{
    font-size:12px;
    padding:3vw 2vw;
    display: block;
    color:rgb(102,102,102)

}

#tab-page>.page-3 .hotSearch .hotSong{
    width:95vw;
    height:39vw;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

}

#tab-page>.page-3 .hotSearch.delActive{
    display: none
}

#tab-page>.page-3 .hotSearch a{
    color:#333;
    font-size:14px;
    border:1px solid rgb(235,235,235);
    padding:1.2vw 3.5vw;
    margin-bottom: 3vw;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5vw;
}
#tab-page>.page-3 .searchSongList{
    position: relative;
}
#tab-page>.page-3 .searchSongList.delActive{
    display: none;
}

#tab-page>.page-3 .searchSongList p{
    padding:5vw 4vw;
    color:rgb(80,125,182);
    font-size: 15px;
}

#tab-page>.page-3 .searchSongList p::after{
    content:"";
    display: block;
    border-bottom:1px solid rgb(235,235,235);
    width:97vw;
    position: relative;
    top:5vw;
}
#tab-page>.page-3 .searchSongList img{
    width:4.5vw;
    height:4.5vw;
    position: absolute;
    bottom:4.2vw;
    left:5vw;
}
#tab-page>.page-3 .searchSongList a>p{
    font-size:14px;
    color:#333;
    padding:3.5vw 12vw;  
}
#tab-page>.page-3 .searchSongList a>p::after{
    content:"";
    display: block;
    border-bottom:1px solid rgb(235,235,235);
    width:95vw;
    position: relative;
    top:3vw;
    
}
/****以上为page3的样式*****/